/* Imports */
/* https://fonts.google.com/icons?icon.set=Material+Symbols */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,-25);


/* Flexbox classes */
.flex-left-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-right-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-centered {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Other classes */
.default-hidden {
  display: none;
}

.framed {
  border-style: solid;
  border-color: #000000;
  border-width: 4px 4px 4px 4px;
  border-radius: 8px;
  margin: 6px 3px 0px 3px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.thumbnail-container {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  height: 100px;
  margin: 0.25em 0.25em 0.25em 0.25em;
  width: 100px;
}

.thumbnail {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.thread {
  background-color: lightgrey;
}

.thread-subject {
}

.thread-text {
}

.post {
  background-color: orange;
}

.post-text {
}


/* Body */
body {
}


/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 9px 0px 9px;
}

#filter-search {
  margin: 0px 3px 0px 3px;
}

#filter-sort-order {
  display: none;
}

#filter-sort-order + label {
  display: inline-block;
  height: 24px;
  width: 24px;
}

#filter-sort-order:checked + label {
  display: inline-block;
  height: 24px;
  width: 24px;
}

#filter-criteria {
  margin: 0px 3px 0px 3px;
}

#header-buttons {
}


/* Main */
main {
}

#main-extra {
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* Footer */
footer {
}


/* Thread Box classes, see "/static/box.js". */
/* These are very specific. Consider replacing with classes of a wider scope. */
/*
.box-main-show-threads {}
.box-main-add-thread {}
.box-main-modify-thread {}
.box-main-delete-thread {}

.box-heading-add-thread {}
.box-heading-modify-thread {}
.box-heading-delete-thread {}

.box-form-container-add-thread {}
.box-form-container-modify-thread {}
.box-form-container-delete-thread {}

.box-form-add-thread {}
.box-form-modify-thread {}
.box-form-delete-thread {}

.box-form-subject-add-thread {}
.box-form-subject-modify-thread {}

.box-form-text-add-thread {}
.box-form-text-modify-thread {}

.box-form-image-add-thread {}
.box-form-image-modify-thread {}

.box-form-submit-add-thread {}
.box-form-submit-modify-thread {}
.box-form-submit-delete-thread {}

.box-error-container-show-threads {}
.box-error-container-add-thread {}
.box-error-container-modify-thread {}
.box-error-container-delete-thread {}

.box-error-show-threads {}
.box-error-add-thread {}
.box-error-modify-thread {}
.box-error-delete-thread {}

.box-button-cancel-show-threads {}
.box-button-cancel-add-thread {}
.box-button-cancel-modify-thread {}
.box-button-cancel-delete-thread {}

.box-list-show-threads {}

.box-button-start-show-threads {}
.box-button-start-add-thread {}
.box-button-start-modify-thread {}
.box-button-start-delete-thread {}
*/


/* Post Box classes, see "/static/box.js". */
/* These are very specific. Consider replacing with classes of a wider scope. */
/*
.box-main-show-posts {}
.box-main-add-post {}
.box-main-modify-post {}
.box-main-delete-post {}

.box-heading-add-post {}
.box-heading-modify-post {}
.box-heading-delete-post {}

.box-form-container-add-post {}
.box-form-container-modify-post {}
.box-form-container-delete-post {}

.box-form-add-post {}
.box-form-modify-post {}
.box-form-delete-post {}

.box-form-text-add-post {}
.box-form-text-modify-post {}

.box-form-image-add-post {}
.box-form-image-modify-post {}

.box-form-submit-add-post {}
.box-form-submit-modify-post {}
.box-form-submit-delete-post {}

.box-error-container-show-posts {}
.box-error-container-add-post {}
.box-error-container-modify-post {}
.box-error-container-delete-post {}

.box-error-show-posts {}
.box-error-add-post {}
.box-error-modify-post {}
.box-error-delete-post {}

.box-button-cancel-show-posts {}
.box-button-cancel-add-post {}
.box-button-cancel-modify-post {}
.box-button-cancel-delete-post {}

.box-list-show-posts {}

.box-button-start-show-posts {}
.box-button-start-add-post {}
.box-button-start-modify-post {}
.box-button-start-delete-post {}
*/


/* Session Box classes, see "/static/box.js". */
/* These are very specific. Consider replacing with classes of a wider scope. */
/*
.box-main-register {}
.box-main-login {}
.box-main-logout {}

.box-heading-register {}
.box-heading-login {}
.box-heading-logout {}

.box-form-container-register {}
.box-form-container-login {}
.box-form-container-logout {}

.box-form-register {}
.box-form-login {}
.box-form-logout {}

.box-form-username-register {}
.box-form-username-login {}

.box-form-password-register {}
.box-form-password-login {}

.box-form-submit-register {}
.box-form-submit-login {}
.box-form-submit-logout {}

.box-error-container-register {}
.box-error-container-login {}
.box-error-container-logout {}

.box-error-register {}
.box-error-login {}
.box-error-logout {}

.box-button-cancel-register {}
.box-button-cancel-login {}
.box-button-cancel-logout {}

.box-button-start-register {}
.box-button-start-login {}
.box-button-start-logout {}
*/

