<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tests</title>
  <link href="/static/tests/style.css" rel="stylesheet" type="text/css">
</head>
<body class="flex-body">
  <header class="flex-header">
    <div class="flex-left-aligned">
      <input id="filter-search" type="text" placeholder="Search...">
      <input id="filter-sort-order" type="checkbox" checked>
      <label for="filter-sort-order">
        <span class="material-symbols-sharp">sort_by_alpha</span>
      </label>
      <select id="filter-criteria">
        <option value="last-modified">Last modified</option>
        <option value="subject">Subject</option>
        <option value="timestamp">Timestamp</option>
      </select>
    </div>
    <div class="flex-right-aligned">
      <a href="{{ url_for('_tests_index') }}">tests</a>
      <button class="button-add-thread">Add thread</button>
      <button class="button-register">Register</button>
      <button class="button-login">Login</button>
      <button class="button-logout">Logout</button>
    </div>
  </header>
  <main class="flex-main">
    <div id="main-extra" class="flex-main-extra">
      <div id="add-thread" class="default-hidden framed">
        <h3>Add thread</h3>
        <div class="flex-left-aligned">
          <div class="flex-centered thumbnail-container">
            <img id="thumbnail-add-thread" class="thumbnail" alt="">
          </div>
          <div>
            <form id="form-add-thread">
              <p>
                <input
                  name="subject"
                  placeholder="thread subject"
                  required
                  type="text"
                >
              </p>
              <p>
                <textarea
                  name="text"
                  placeholder="post text"
                ></textarea>
              </p>
              <p>
                <input
                  id="input-file-add-thread"
                  accept="image/*"
                  name="image"
                  type="file"
                >
              </p>
              <p>
                <input
                  type="submit"
                  value="Add thread"
                >
              </p>
            </form>
          </div>
        </div>
        <button class="button-cancel">Cancel</button>
      </div>
      <div id="register" class="default-hidden framed">
        <h3>Register</h3>
        <button class="button-cancel">Cancel</button>
        <form id="form-register">
          <p>
            <input
              name="username"
              placeholder="enter username"
              required
              type="text"
            >
          </p>
          <p>
            <input
              name="password"
              placeholder="enter password"
              required
              type="password"
            >
          </p>
          <p>
            <input
              type="submit"
              value="Register"
            >
          </p>
        </form>
      </div>
      <div id="login" class="default-hidden framed">
        <h3>Login</h3>
        <button class="button-cancel">Cancel</button>
        <form id="form-login">
          <p>
            <input
              name="username"
              placeholder="enter username"
              required
              type="text"
            >
          </p>
          <p>
            <input
              name="password"
              placeholder="enter password"
              required
              type="password"
            >
          </p>
          <p>
            <input
              type="submit"
              value="Login"
            >
          </p>
        </form>
        <p></p>
        <p>Sample login credentials:</p>
        <p>test1/asdf1234</p>
        <p>test2/asdf1234</p>
      </div>
      <div id="logout" class="default-hidden framed">
        <h3>Do you want to logout?</h3>
        <form id="form-logout">
          <input type="submit" value="Yes">
        </form>
        <button class="button-cancel">No</button>
      </div>
    </div>
    <div id="main-content" class="flex-main-content framed">
    </div>
  </main>
  <footer class="flex-footer">
  </footer>
  <script src="/static/api.js" type="text/javascript"></script>
  <script src="/static/tests/script.js" type="text/javascript"></script>
</body>
</html>
