{% extends 'tests/base.html' %}
{% block main %}
  <form action="/tests/login_deprecated" method="post">
    <p>
      <input
        name="username"
        placeholder="enter username"
        required
        type="text"
      >
    </p>
    <p>
      <input
        name="password"
        placeholder="enter password"
        required
        type="password"
      >
    </p>
    <p>
      <input
        type="submit"
        value="Login"
      >
    </p>
  </form>
  <p></p>
  <p>login error</p>
  <p></p>
  <p>sample login credentials:</p>
  <p>test1/asdf1234</p>
  <p>test2/asdf1234</p>
{% endblock %}
