/* Imports */
/* https://fonts.google.com/icons?icon.set=Material+Symbols */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,-25);


/* Flexbox classes */
.flex-body {
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-main {
}

.flex-main-extra {
}

.flex-main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-footer {
}

.flex-left-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-right-aligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-centered {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Other classes */
.default-hidden {
  display: none;
}

.framed {
  border-style: solid;
  border-color: #000000;
  border-width: 4px 4px 4px 4px;
  border-radius: 8px;
  margin: 6px 3px 0px 3px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.thumbnail-container {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  height: 100px;
  margin: 0.25em 0.25em 0.25em 0.25em;
  width: 100px;
}

.thumbnail {
  object-fit: contain;
}

.thread {
  background-color: lightgrey;
  border-radius: 8px;
  margin: 0.25em 0.25em 0.25em 0.25em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.thread-subject {
}

.button-add-thread {
  margin: 0px 3px 0px 3px;
}

.button-register {
  margin: 0px 3px 0px 3px;
}

.button-login {
  margin: 0px 3px 0px 3px;
}

.button-logout {
  margin: 0px 3px 0px 3px;
}

.button-cancel {
}


/* Body */
body {
}


/* Header */
header {
  padding: 0px 9px 0px 9px;
}

header #filter-search {
  margin: 0px 3px 0px 3px;
}

header #filter-sort-order {
  display: none;
}

header #filter-sort-order + label {
  display: inline-block;
  height: 24px;
  width: 24px;
}

header #filter-sort-order:checked + label {
  display: inline-block;
  height: 24px;
  width: 24px;
}

header #filter-criteria {
  margin: 0px 3px 0px 3px;
}


/* Main */
main {
}

main #main-extra {
}

main #add-thread {
}

main #form-add-thread {
}

main #form-file-add-thread {
}

main #thumbnail-add-thread {
}

main #register {
}

main #form-register {
}

main #login {
}

main #form-login {
}

main #logout {
}

main #form-logout {
}

main #main-content {
}


/* Footer */
footer {
}

